<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/AddReview.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>AddReview</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<form id="form" th:method="post" th:object="${reviewDetails}" th:action="@{/Review}">
    <div>
        <input type="hidden" th:field="*{movieTitle}" th:value="${movieTitle}"/>
        <input type="hidden" th:field="*{movieYear}" th:value="${movieYear}"/>

        <h3 th:text="${movieTitle}"></h3>
        <h3 th:text="${movieYear}"></h3>

        <label for="reviewTitle">Enter review title:</label>
        <input type="text" name="reviewTitle" id="reviewTitle" th:field="*{reviewTitle}"/>
        <small th:errors="*{reviewTitle}" id="reviewTitleError"
               class=" bg-danger text-white rounded"></small>

        <label for="rating">Enter the rating you want to give this movie:</label>
        <input type="text" name="rating" id="rating" th:field="*{reviewRating}"/>
        <small th:errors="*{reviewRating}" id="reviewRatingError"
               class=" bg-danger text-white rounded"></small>

        <label for="reviewContent">Share your opinion on the movie</label>
        <textarea name="reviewText" id="reviewContent" rows="12" cols="100" th:field="*{reviewText}"></textarea>
        <small th:errors="*{reviewText}" id="reviewTextError"
               class=" bg-danger text-white rounded"></small>

        <button type="submit">Submit review</button>
    </div>
</form>

</body>
</html>
