<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Create list</title>
    <link rel="stylesheet" href="/css/CreateList.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<form id="form" th:object="${listDto}" th:action="@{/CreateList}" th:method="post">
    <div id="mainBody">
        <label for="listTitle">List title:</label>
        <input type="text" name="listTitle" id="listTitle" th:field="*{title}"
               required minlength="3" maxlength="100" placeholder="Enter list title"/>
        <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message">
            Title must be between 3 and 20 characters.
        </small>

        <label for="listDescription">Add list description:</label>
        <textarea id="listDescription" name="listDescription" rows="10" cols="40"
                  th:field="*{description}" required minlength="3" maxlength="100"
                  placeholder="Enter list description"></textarea>
        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error-message">
            Description must be between 3 and 100 characters.
        </small>

        <button type="submit">Create list</button>
    </div>
</form>
</body>
</html>
