<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/CustomList.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Custom list</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>

<div th:if="${listData != null}">
    <h1 id="listTitle" th:text="${listData.title}">List title</h1>
    <div id="totalContent">

        <div id="listDescription">
            <p name="listDescription" th:text="${listData.description}"></p>
            <a th:href="@{/User/{id}(id=${listData.userId})}">
                <p id="username" name="byUser" th:text="${'by '+listData.username}"></p>
            </a>
        </div>

        <div id="mainBody">
            <div id="moviesContainer">
                <div id="movieRow" th:each="movie : ${listData.movies}">
                    <a th:href="@{/Movie/{id}(id=${movie.id})}">
                        <div id="movie">
                            <img th:src="${movie.posterUrl}" alt="movie poster"/>
                            <h3 th:text="${movie.title}">Title</h3>
                            <p th:text="${movie.year}">Year</p>
                        </div>
                    </a>
                </div>
            </div>
            <div id="reviewButtons">
                <form th:action="@{/CustomList/{listId}/like(listId=${listData.id})}" method="post">
                    <button type="submit" class="image-button">
                        <img src="/images/like.png" alt="Like" class="button-image"/>
                        <span th:text="${listData.likes}"></span>
                    </button>
                </form>
                <form th:action="@{/CustomList/{listId}/dislike(listId=${listData.id})}" method="post">
                    <button type="submit" class="image-button">
                        <img src="/images/dislike.png" alt="Dislike" class="button-image"/>
                    </button>
                </form>
            </div>
        </div>
        <form th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || listData.username == #authentication.name}"
              th:action="@{/CustomList/{id}(id=${listData.id})}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button id="deleteBtn" type="submit">Delete list</button>
        </form>

        <div class="sectionDivider">
            <hr>
            <h3>Add a comment</h3>
            <hr>
        </div>
        <form th:object="${addCommentDto}" th:method="post" th:action="@{/CustomList/{id}(id=${listData.id})}"
              id="form">
            <div id="addComment">
                <input type="text" placeholder="Add a comment" th:field="*{text}"/>
                <button type="submit">Add comment</button>
            </div>
        </form>

        <div id="comments" th:if="${#lists.size(commentsData.comments) > 0}">
            <div class="sectionDivider">
                <hr>
                <h3>Comments</h3>
                <hr>
            </div>
            <div th:each="comment : ${commentsData.comments}">
                <div id="comment">
                    <strong th:text="${comment.username}">Username</strong><br/>
                    <p th:text="${comment.text}">This is my comment</p>
                    <div id="reviewButtons">
                        <form th:action="@{/List/Comments/{commentId}/{listId}/like(commentId=${comment.id}, listId=${listData.id})}"
                              method="post">
                            <button type="submit" class="image-button">
                                <img src="/images/like.png" alt="Like" class="button-image"/>
                                <span th:text="${comment.likes}"></span>
                            </button>
                        </form>
                        <form th:action="@{/List/Comments/{commentId}/{listId}/dislike(commentId=${comment.id}, listId=${listData.id})}"
                              method="post">
                            <button type="submit" class="image-button">
                                <img src="/images/dislike.png" alt="Dislike" class="button-image"/>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${listData == null}" class="alert alert-warning">
    <p>No list data available. The requested list could not be found.</p>
</div>
</body>
</html>
