<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/EditProfile.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Edit profile</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<form id="form" th:action="@{/editProfile}" th:object="${profileData}" th:method="post" enctype="multipart/form-data">
    <label for="profile">Profile picture:</label>
    <input type="file" name="profile" id="profile" th:field="*{profilePicture}" accept="image/jpeg, image/png" />
    <small id="profileError" class="error-message"></small>

    <label for="username">Username:</label>
    <input type="text" name="username" id="username" th:field="*{username}" minlength="3" maxlength="30" required />
    <small id="usernameError" class="error-message"></small>

    <label for="FirstName">First name:</label>
    <input type="text" name="FirstName" id="FirstName" th:field="*{firstName}" minlength="3" maxlength="30" required />
    <small id="firstNameError" class="error-message"></small>

    <label for="LastName">Last name:</label>
    <input type="text" name="LastName" id="LastName" th:field="*{lastName}" minlength="3" maxlength="30" required />
    <small id="lastNameError" class="error-message"></small>

    <label for="Bio">Bio:</label>
    <textarea name="Bio" rows="6" cols="35" id="Bio" th:field="*{bio}" maxlength="500"></textarea>

    <button type="submit">Update profile</button>
</form>
</body>
</html>
