<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/EditReview.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Edit review</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<div th:if="${reviewData == null}" class="alert alert-warning">
    <p>No review data available. The requested review could not be found.</p>
</div>
<div id="mainBody">
    <form id="form" th:action="@{/EditReview/{id}(id=${reviewData.id})}" th:object="${newReviewData}" th:method="post">
        <div id="formContent">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="reviewId" th:value="${reviewData.id}">

            <h1 th:text="${reviewData.movieTitle}"></h1>

            <label for="reviewTitle">Review title:</label>
            <input type="text" name="reviewTitle" id="reviewTitle" th:field="*{reviewTitle}"
                    minlength="1" maxlength="255" placeholder="Enter review title" th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{reviewTitle}" id="reviewTitleError" class="bg-danger text-white rounded"></small>

            <label for="reviewRating">Review rating:</label>
            <input type="number" name="reviewRating" id="reviewRating" th:field="*{reviewRating}"
                    min="1" max="100" placeholder="Enter rating between 1 and 100" th:errorclass="'is-invalid alert-danger'"/>
            <small th:errors="*{reviewRating}" id="reviewRatingError" class="bg-danger text-white rounded"></small>

            <label for="reviewText">Review text:</label>
            <textarea id="reviewText" name="reviewText" rows="12" cols="60" th:field="*{reviewText}"
                       minlength="1" maxlength="1000" placeholder="Enter review text" th:errorclass="'is-invalid alert-danger'"></textarea>
            <small th:errors="*{reviewText}" id="reviewTextError" class="bg-danger text-white rounded"></small>

            <div id="formButtonDiv">
                <button id="updateReview" type="submit">Update review</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
