<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/Home.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Home</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<div id="pageContents">
    <div th:if="${recommendation!=null}">
        <h1 th:text="#{home_view_recommended_movie}">Recommended movie for today</h1>
    </div>
    <hr th:if="${recommendation!=null}"/>
    <div class="movie" th:if="${recommendation!=null}">
        <a th:href="@{/Movie/{id}(id=${recommendation.id})}">
            <img id="moviePoster" th:src="${recommendation.posterUrl}" alt="movie poster"/>
            <h3 th:text="${recommendation.title}">Movie Title</h3>
            <h3 th:text="${recommendation.imdbRating}">Movie Rating</h3>
        </a>
    </div>
    <div th:if="${recommendation == null}">
        <p th:text="#{home_view_no_recommended_movie}">No movie recommendation for today.</p>
    </div>
    <div>
        <h1 th:text="#{home_popular_releases}"></h1>
    </div>
    <hr/>
    <div class="movieList">
        <div class="movie" th:each="movie, iterStat : ${moviesData.movies}" th:if="${iterStat.index < 4}">
            <a th:href="@{/Movie/{id}(id=${movie.id})}">
                <img id="moviePoster" th:src="${movie.posterUrl}" alt="movie poster"/>
                <h3 th:text="${movie.title}">Movie Title</h3>
                <h3 th:text="${movie.imdbRating}">Movie Rating</h3>
            </a>
        </div>
    </div>
    <h1 th:text="#{home_trending_lists}"></h1>
    <hr/>
    <div id="trendingLists">
        <div th:if="${listData == null or listData.lists == null or #lists.size(listData.lists) == 0}">
            <p>No trending lists available at the moment.</p>
        </div>
        <div th:unless="${listData == null or listData.lists == null or #lists.size(listData.lists) == 0}">
            <div class="listBox" th:each="list : ${listData.lists}">
                <div class="movie-grid">
                    <div class="movie-frame" th:each="movie, iter : ${list.movies}"
                         th:if="${iter.index < 4 and list.movies != null}">
                        <img th:src="${movie.posterUrl}" alt="movie poster"
                             th:alt="${movie.posterUrl != null ? 'Movie poster' : 'No poster available'}"/>
                    </div>
                </div>
                <br/>
                <div id="listContent">
                    <h4 th:text="${list.title != null ? list.title : 'List title'}">List title</h4>
                    <span th:text="${list.description != null ? list.description : 'List description'}">List description</span>
                    <a th:href="@{/CustomList/{id}(id=${list.id})}">
                        <button th:text="#{home_view_list}">View list</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h1 th:text="#{home_popular_reviews}"></h1>
    <hr/>
    <div id="popularReviews">
        <div class="reviewList">
            <div th:if="${reviewsData == null or reviewsData.reviews == null or #lists.size(reviewsData.reviews) == 0}">
                <p>No reviews available at the moment.</p>
            </div>
            <div th:unless="${reviewsData == null or reviewsData.reviews == null or #lists.size(reviewsData.reviews) == 0}">
                <div class="review" th:each="review : ${reviewsData.reviews}">
                    <div id="reviewTopContent">
                        <div id="poster">
                            <img
                                    id="reviewMoviePoster"
                                    th:src="@{${review.posterUrl}}"
                                    alt="movie poster"
                            />
                            <div id="rating" th:text="${review.rating} + '/100'">Rating</div>
                            <div id="reviewButtons">
                                <form th:action="@{/Home/Review/{reviewId}/like(reviewId=${review.id})}" method="post">
                                    <button type="submit" class="image-button">
                                        <img src="/images/like.png" alt="Like" class="button-image"/>
                                        <span th:text="${review.likes}"></span>
                                    </button>
                                </form>
                                <form th:action="@{/Home/Review/{reviewId}/dislike(reviewId=${review.id})}"
                                      method="post">
                                    <button type="submit" class="image-button">
                                        <img src="/images/dislike.png" alt="Dislike" class="button-image"/>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div id="reviewTextContent">
                            <h1>
                                <span th:text="${review.reviewTitle}">Review Title</span>
                                <span> by: </span>
                                <a th:href="@{/User/{id}(id=${review.userId})}" th:text="${review.username}"></a>
                            </h1>
                            <div id="reviewText" th:text="${review.reviewText}">Review text</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="viewBtn"
         th:if="${reviewsData != null and reviewsData.reviews != null and #lists.size(reviewsData.reviews) > 0}">
        <a th:href="@{/Reviews}">
            <button id="viewMore" th:text="#{home_view_more_reviews}">View more reviews</button>
        </a>
    </div>
</div>
</body>
</html>
