<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/ListOfMovies.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>ListOfMovies</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<div id="mainBody">
    <div class="movieList">
        <div th:if="${result.search != null and #lists.size(result.search) > 0}">
            <form th:each="movie : ${result.search}" th:action="@{/AddReview}" th:object="${movieResponseDto}"
                  th:method="post" id="form">
                <div id="movie">
                    <img th:src="${movie.poster}" alt="movie poster"/>
                    <input type="hidden" th:field="*{title}" th:value="${movie.title}" id="title"/>
                    <label th:text="${movie.title}"></label>
                    <input type="hidden" th:field="*{year}" th:value="${movie.year}" id="year"/>
                    <label th:text="${movie.year}"></label>
                    <button id="addReviewBtn" type="submit">Add review</button>
                </div>
            </form>
        </div>
        <div th:if="${result.search == null or #lists.size(result.search) == 0}">
            <p>Search for movies to add to the list.</p>
        </div>
    </div>
</div>
</body>
</html>
