<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/Lists.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Lists</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<h1>Trending lists:</h1>
<hr/>
<div id="mainBody">
    <div id="lists">
        <div class="listBox" th:each="list : ${listData.lists}">
            <div class="movie-grid">
                <div class="movie-frame" th:each="movie : ${list.movies}">
                    <img th:src="${movie.posterUrl}" alt="movie poster"/>
                </div>
            </div>
            <br/>
            <div id="listContent">
                <h4 th:text="${list.title}">List title</h4>
                <span th:text="${list.description}">List description</span>
                <a th:href="@{/CustomList/{id}(id=${list.id})}">
                    <button th:text="#{home_view_list}">View list</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
