<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/ListOfMovies.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>ListOfMovies</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<div id="mainBody">
    <div th:if="${param.error == 'movieAlreadyInList'}" class="error-message">
        <p>The movie is already in the list.</p>
    </div>

    <div class="movieList">
        <div th:if="${result.search != null and #lists.size(result.search) > 0}" th:each="movie : ${result.search}">
            <div id="movie">
                <img th:src="${movie.poster}" alt="movie poster"/>
                <h3 th:text="${movie.title}"></h3>
                <h3 th:text="${movie.year}"></h3>
                <form th:action="@{/AddReview}" th:method="post">
                    <input type="hidden" name="title" th:value="${movie.title}"/>
                    <input type="hidden" name="year" th:value="${movie.year}"/>
                    <button id="addReviewBtn" type="submit">Add review</button>
                </form>
                <form th:action="@{/AddToList}" th:method="post">
                    <input type="hidden" name="title" th:value="${movie.title}"/>
                    <input type="hidden" name="year" th:value="${movie.year}"/>
                    <div th:if="${lists != null and #lists.size(lists) > 0}">
                        <select name="listId" id="listSelect">
                            <option th:each="list : ${lists}" th:value="${list.id}" th:text="${list.title}"></option>
                        </select>
                        <button id="addToListBtn" type="submit">Add to list</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${result.search == null or #lists.size(result.search) == 0}">
        <p>Search for movies to add to the list.</p>
    </div>
</div>
</body>
</html>
