<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/Movies.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Movies</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<div class="movieList">
    <div class="movieRow" th:each="movie, iterStat : ${moviesData}">
        <div id="movie">
            <a th:href="@{/Movie/{id}(id=${movie.id})}">
                <img th:src="${movie.posterUrl}" alt="movie poster"/>
                <h3 th:text="${movie.title}"></h3>
                <h3 th:text="${movie.year}"></h3>
            </a>
        </div>
    </div>
</div>
</body>
</html>
