<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/movie.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Movie</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<div id="mainInfo">
    <div id="poster">
        <img th:src="${movieData.posterUrl}" alt="Movie poster"/>
    </div>
    <div id="movieContents">
        <h1 id="title" th:text="${movieData.title}">Movie Title</h1>
        <h2 th:text="'Director: ' + ${movieData.director}">Director: Director Name</h2>
        <h3 th:text="'Genre: ' + ${movieData.genre}">Genre: Genre</h3>
        <h3 id="releaseDate" th:text="'Release date: ' + ${movieData.releaseDate}">Release date: Year</h3>
        <h3 id="runtime" th:text="'Runtime: ' + ${movieData.runtime}">Runtime: Runtime</h3>
        <h3 id="description">
            Description:
            <br/>
            <span th:text="${movieData.plot}">Movie description here.</span>
        </h3>
        <ul>
            <h2>Cast:</h2>
            <span th:text="${movieData.actors}"></span>
        </ul>
    </div>
</div>
<h1>User reviews:</h1>
<div id="reviews">
    <div id="review" th:each="review : ${reviewsData.reviews}">
        <div class="review">
            <h1>
                <span th:text="${review.reviewTitle}"></span>
                <span th:text="' by: ' + ${review.username}"> by: username</span>
            </h1>
            <div id="reviewText" th:text="${review.reviewText}">Review text here</div>
            <div id="rating" th:text="${review.rating} + '/100'">Rating</div>
            <div id="reviewButtons">
                <form th:action="@{/Review/{reviewId}/{movieId}/like(reviewId=${review.id}, movieId=${movieData.id})}"
                      method="post">
                    <button type="submit" class="image-button">
                        <img src="/images/like.png" alt="Like" class="button-image"/>
                        <span th:text="${review.likes}"></span>
                    </button>
                </form>
                <form th:action="@{/Review/{reviewId}/{movieId}/dislike(reviewId=${review.id}, movieId=${movieData.id})}"
                      method="post">
                    <button type="submit" class="image-button">
                        <img src="/images/dislike.png" alt="Dislike" class="button-image"/>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
