<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/register.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Register</title>
</head>
<body>
<form id="form" th:object="${registerUserDto}" th:method="POST" th:action="@{/register}" novalidate>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" th:field="*{username}"
           required minlength="3" maxlength="30"
           placeholder="Enter username"/>
    <small th:errors="*{username}" id="usernameError"
           class="bg-danger text-white rounded">
        Username must be between 3 and 30 characters
    </small>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" th:field="*{password}"
           required minlength="3" maxlength="30"
           placeholder="Enter password"/>
    <small th:errors="*{password}" id="passwordError"
           class="bg-danger text-white rounded">
        Password must be between 3 and 30 characters
    </small>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" th:field="*{email}"
           required placeholder="Enter email"/>
    <small th:errors="*{email}" id="emailError"
           class="bg-danger text-white rounded">
        Email should be valid and unique
    </small>

    <label for="firstName">First name:</label>
    <input type="text" name="firstName" id="firstName" th:field="*{firstName}"
           required minlength="2" maxlength="30"
           placeholder="Enter first name"/>
    <small th:errors="*{firstName}" id="firstNameError"
           class="bg-danger text-white rounded">
        First name must be between 2 and 30 characters
    </small>

    <label for="lastName">Last name:</label>
    <input type="text" name="lastName" id="lastName" th:field="*{lastName}"
           required minlength="2" maxlength="30"
           placeholder="Enter last name"/>
    <small th:errors="*{lastName}" id="lastNameError"
           class="bg-danger text-white rounded">
        Last name must be between 2 and 30 characters
    </small>
    <button type="submit">Register</button>
</form>
</body>
</html>
