<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/Review.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Review</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<div th:if="${reviewData == null}" class="alert alert-warning">
    <p>No review data available. The requested review could not be found.</p>
</div>
<div th:if="${reviewData != null}">
    <div id="review">
        <div class="review">
            <h3>
                <span th:text="${reviewData.reviewTitle} + ' by: '"></span>
                <a th:href="@{/User/{userId}(userId=${reviewData.userId})}" th:text="${reviewData.username}"></a>
            </h3>
            <div>
                <h2 th:text="${reviewData.movieTitle} +' '+${reviewData.movieRelease}"></h2>
            </div>
            <div id="reviewText" th:text="${reviewData.reviewText}"></div>
            <div id="rating" th:text="${reviewData.rating + '/100'}"></div>
            <div id="reviewButtons">
                <form th:action="@{/Review/{reviewId}/like(reviewId=${reviewData.id})}" method="post">
                    <button type="submit" class="image-button">
                        <img src="/images/like.png" alt="Like" class="button-image"/>
                        <span th:text="${reviewData.likes}"></span>
                    </button>
                </form>
                <form th:action="@{/Review/{reviewId}/dislike(reviewId=${reviewData.id})}" method="post">
                    <button type="submit" class="image-button">
                        <img src="/images/dislike.png" alt="Dislike" class="button-image"/>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="changeReviewBtns">
        <div th:if="${reviewData.username == currentUsername}">
            <a th:href="@{/EditReview/{id}(id=${reviewData.id})}">
                <button id="editBtn" type="button">Edit review</button>
            </a>
        </div>
        <form th:if="${userHasRoleAdmin or reviewData.username == currentUsername}"
              th:action="@{/Review/{id}(id=${reviewData.id})}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button id="deleteBtn" type="submit">Delete review</button>
        </form>
    </div>
    <div class="sectionDivider">
        <hr>
        <h3>Add a comment</h3>
        <hr>
    </div>
    <form th:object="${addCommentDto}" th:method="post" th:action="@{/Review/{id}(id=${reviewData.id})}" id="form">
        <div id="addComment">
            <input type="text" placeholder="Add a comment" th:field="*{text}"/>
            <button type="submit">Add comment</button>
        </div>
    </form>
    <div class="sectionDivider">
        <hr>
        <h3>Comments</h3>
        <hr>
    </div>
    <div id="comments">
        <div id="comment" th:each="comment : ${commentsData.comments}">
            <strong th:text="${comment.username}"></strong><br/>
            <p th:text="${comment.text}">This is my comment</p>
            <div id="reviewButtons">
                <form th:action="@{/Review/Comments/{commentId}/{reviewId}/like(commentId=${comment.id}, reviewId=${reviewData.id})}"
                      method="post">
                    <button type="submit" class="image-button">
                        <img src="/images/like.png" alt="Like" class="button-image"/>
                        <span th:text="${comment.likes}"></span>
                    </button>
                </form>
                <form th:action="@{/Review/Comments/{commentId}/{reviewId}/dislike(commentId=${comment.id}, reviewId=${reviewData.id})}"
                      method="post">
                    <button type="submit" class="image-button">
                        <img src="/images/dislike.png" alt="Dislike" class="button-image"/>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
