<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/Review.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Review</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<div id="review">
    <div class="review">
        <h1 th:text="|${reviewData.reviewTitle}|">
            <span th:text="' by: ' + ${reviewData.user.username}"> </span>
        </h1>
        <div>
            <h2 th:text="${reviewData.movie.title} + ' (' + ${reviewData.movie.released} + ')'"></h2>
        </div>
        <div id="reviewText" th:text="${reviewData.reviewText}">
        </div>
        <div id="rating" th:text="${reviewData.rating + '/100'}">
        </div>
        <div id="reviewButtons">
            <button class="image-button">
                <img
                        th:src="@{/images/like.png}"
                        alt="Button Image"
                        class="button-image"
                />
            </button>
            <button class="image-button">
                <img
                        th:src="@{/images/dislike.png}"
                        alt="Button Image"
                        class="button-image"
                />
            </button>
        </div>
    </div>
</div>
<div id="changeReviewBtns">
    <form th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || reviewData.user.username == #authentication.name}"
          th:action="@{/Review/{id}(id=${reviewData.id})}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button id="deleteBtn" type="submit">Delete review</button>
    </form>
    <a th:href="@{/EditReview/{id}(id=${reviewData.id})}">
        <button id="editBtn" type="submit">Edit review</button>
    </a>
</div>
<div id="comments">
    <div id="comment" th:each="comment : ${reviewData.comments}">
        <div id="user" th:text="${comment.user.username}">
            username
        </div>
        <br/>
        <p th:text="${comment.text}">This is my comment</p>
        <div id="reviewButtons">
            <button class="image-button">
                <img
                        th:src="@{/images/like.png}"
                        alt="Button Image"
                        class="button-image"
                />
                <span th:text="${review.likes}"></span>
            </button>
            <button class="image-button">
                <img
                        th:src="@{/images/dislike.png}"
                        alt="Button Image"
                        class="button-image"
                />
            </button>
        </div>
    </div>
    <button id="viewMoreComments">View more comments</button>
</div>
</body>
</html>
