<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/Reviews.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Document</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<div id="reviews">
    <div class="review">
        <div id="textContent">
            <a href="Review.html"> "Gud muvi" </a>
            <span> by: <a href="User.html"> username </a></span>
        </div>
        <div id="reviewText">
            This muvi gud 10/10. Im literally Ryan Gosling
        </div>
        <div id="rating">90/100</div>
        <div id="reviewButtons">
            <button class="image-button">
                <img
                        src="\images\like.png"
                        alt="Button Image"
                        class="button-image"
                />
                Button Text
            </button>
            <button class="image-button">
                <img
                        src="\images\dislike.png"
                        alt="Button Image"
                        class="button-image"
                />
                Button Text
            </button>
        </div>
    </div>
    <div class="review">
        <div id="textContent">
            <a href="Review.html"> "Gud muvi" </a>
            <span> by: <a href="User.html"> username </a></span>
        </div>
        <div id="reviewText">
            This muvi gud 10/10. Im literally Ryan Gosling
        </div>
        <div id="rating">90/100</div>
        <div id="reviewButtons">
            <button class="image-button">
                <img
                        src="\images\like.png"
                        alt="Button Image"
                        class="button-image"
                />
                Button Text
            </button>
            <button class="image-button">
                <img
                        src="\images\dislike.png"
                        alt="Button Image"
                        class="button-image"
                />
                Button Text
            </button>
        </div>
    </div>
    <div class="review">
        <div id="textContent">
            <a href="Review.html"> "Gud muvi" </a>
            <span> by: <a href="User.html"> username </a></span>
        </div>
        <div id="reviewText">
            This muvi gud 10/10. Im literally Ryan Gosling
        </div>
        <div id="rating">90/100</div>
        <div id="reviewButtons">
            <button class="image-button">
                <img
                        src="\images\like.png"
                        alt="Button Image"
                        class="button-image"
                />
                Button Text
            </button>
            <button class="image-button">
                <img
                        src="\images\dislike.png"
                        alt="Button Image"
                        class="button-image"
                />
                Button Text
            </button>
        </div>
    </div>
</div>
</body>
</html>
