<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/Reviews.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
    <title>Reviews</title>
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<h1>Reviews :</h1>
<hr/>
<div id="reviews">
    <div class="review" th:each="review : ${ReviewsData.reviews}">
        <div id="textContent">
            <span th:text="'For movie '${review.movieTitle}+' '"></span>
            <span th:text="${review.reviewTitle}"> </span>
            <span> by:
                <a th:href="@{/User/{userId}(userId=${review.userId})}" th:text="${review.username}"></a>
            </span>
        </div>
        <div id="reviewText" th:text="${review.reviewText}">
        </div>
        <div id="rating" th:text="${review.rating} + '/100'">
        </div>
        <a th:href="@{/Review/{reviewId}(reviewId=${review.id})}">
            <button>View review</button>
        </a>
    </div>
</div>
</body>
</html>
