<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User</title>
    <link rel="stylesheet" href="/css/user.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<div th:replace="Fragments/Navbar"></div>
<div id="mainBody">
    <img
            id="Profile"
            th:src="@{/uploads/profile_pictures/{profilePicUrl}(profilePicUrl=${profileData.profilePicUrl})}"
            alt="Profile picture"
    />
    <div id="data">
        <h1 id="username" th:text="${profileData.username}"></h1>
        <h1 id="names" th:text="${profileData.firstName}  + ' ' + ${profileData.lastName}"></h1>
        <h3 id="bio" th:text="${profileData.bio}"></h3>
        <div class="movieLists">
            <h3>Lists</h3>
            <div id="trendingLists">
                <div class="listBox" th:each="list : ${listsData}">
                    <div class="movie-grid">
                        <div th:each="movie, iter : ${list.movies}" th:if="${iter.index < 4}">
                            <img th:src="${movie.posterUrl}" alt="movie poster"/>
                        </div>
                    </div>
                    <br/>
                    <div id="listContent">
                        <h4 th:text="${list.title}">List title</h4>
                        <span th:text="${list.description}">List description</span>
                        <a th:href="@{/CustomList/{id}(id=${list.id})}">
                            <button th:text="#{home_view_list}">View list</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="movieList"></div>
        <h3>Recently reviewed</h3>
        <span>
          <div class="listContents" th:each="review : ${reviewsData}">
            <img th:src="${review.movie.posterUrl}"
                 alt="Movie poster"/>
            <h5 th:text="${review.movie.title}"></h5>
          </div>
        </span>
        <a th:href="@{/Reviews/{username}(username=${profileData.username})}">
            <button class="viewAll">
                View all
            </button>
        </a>
        <hr/>
    </div>
</div>
</body>
</html>
