body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: large;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: REM;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
h1 {
  color: white;
}
#listDescription {
  background-color: gray;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  font-size: larger;
  width:500px;
  color:black;
}
#movie img {
  width: 100%;
  border-radius: 10px;
}
#movie {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: dimgray;
  width: 200px;
  height:400px;
}
#movie:hover {
  top: -10px;
  cursor: pointer;
}
#mainBody {
  background-color: Gray;
  border: 2px solid black;
  padding: 20px;
  border-radius: 20px;
  width:500px;
  margin-bottom:10px;
}
#movieRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#comment {
  border: 2px solid black;
  background-color: Gray;
  border-radius: 20px;
  padding: 5px;
  padding: 20px;
  margin: 10px;
  text-align:left;
}
#comment > p {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin-left:10px;
}
#addComment {
  border: 2px solid black;
  background-color: Gray;
  border-radius: 20px;
  padding: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: relative;
}
#addComment > input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
  font-size: large;
  width:90%;
}
#addComment button {
  background-color: dimgrey;
  color: white;
  padding: 12px;
  border-radius: 20px;
  font-family: REM;
  border: 2px solid black;
  cursor: pointer;
  margin: 10px;
  margin-left: 4%;
}
#username{
color:black;
}
#addComment > p {
  font-size: larger;
  margin-left: 4.5%;
}
#commentInputField {
  align-items: center;
  justify-content: center;
}
#reviewButtons {
margin-top:10px;
  display: flex;
  flex-direction: row;
gap:5px;
}
#totalContent{
display:block;
margin-left:auto;
margin-right:auto;
}
.image-button {
display: inline-flex;
align-items: center;
padding: 10px 15px;
font-size: 16px;
color: #fff;
background-color: dimgrey;
cursor: pointer;
text-align: center;
border-radius: 20px;
font-family: REM;
border: 2px solid black;
cursor: pointer;
margin-left: 4%;
}
 hr{
 width:35%;
 }
.sectionDivider{
 display:flex;
 align-items:center;
 justify-content:center;
 flex-direction:row;
 }
.button-image{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
#deleteBtn{
background-color:FireBrick;
}
#moviesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}