body {
  text-align: center;
  color: white;
  font-size: large;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: REM;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
.review {
  border: 2px solid black;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.review > h3 {
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 0;
  width: 500px;
  display:block;
    margin-left: auto;
    margin-right: auto;
}

#reviewText {
  text-align: left;
  margin-top: 3px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  height: 300px;
}
#movieContents > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#reviewButtons {
 margin-top:10px;
   display: flex;
   flex-direction: row;
 gap:5px;
}
.image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: dimgray;
  margin: 10px;
  color: white;
  gap: 8px;
}
.button-image {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
button:hover {
  cursor: pointer;
}
#viewBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
#rating {
  border: 2px solid black;
  border-radius: 10px;
  background-color: DarkGoldenRod;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  padding: 8px;
  margin: 10px;
}
#movieContents {
  text-align: left;
}
#user {
  padding-left: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  padding-bottom: 0;
  margin-bottom: 0;
}
 #comment {
   border: 2px solid black;
   background-color: Gray;
   border-radius: 20px;
   margin: 10px;
   text-align:left;
   width:500px;
   display:block;
   margin-left:auto;
   margin-right:auto;
 }
 #comment > p {
   border: 2px solid black;
   border-radius: 20px;
   padding: 10px;
   margin-left:10px;
   margin-right:10px;
 }
 #addComment {
   border: 2px solid black;
   background-color: Gray;
   border-radius: 20px;
   padding: 5px;
   margin: 10px;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   position: relative;
 }
 #addComment > input {
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: 2px solid black;
   border-radius: 20px;
   padding: 15px;
   font-size: large;
   width:90%;
 }
 #addComment button {
   background-color: dimgrey;
   color: white;
   padding: 12px;
   border-radius: 20px;
   font-family: REM;
   border: 2px solid black;
   cursor: pointer;
   margin: 10px;
   margin-left: 4%;
 }
 #addComment > p {
   font-size: larger;
   margin-left: 4.5%;
    margin-right: 4.5%;
 }
 #commentInputField {
   align-items: center;
   justify-content: center;
 }
 #deleteBtn{
 background-color:firebrick
 }
 #form{
 width:500px;
 display:block;
 margin-left:auto;
 margin-right:auto;
 }
 #changeReviewBtns>*{
margin:5px;
 }
 .sectionDivider {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   width: 100%;
   margin: 20px 0;
 }

 .sectionDivider h3 {
   margin: 0 10px;
 }

 hr {
   width: 35%;
 }
  #comment >strong{
  margin-left:10px;
  margin-top:5px;
  }